body {
  margin: 0;
  width: 100%;
  font-family: "Gill Sans", sans-serif;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .section {
    width: 95%;
  }
}
