.onlineSign {
    height: 1rem;
    width: 1rem;
    margin: 1.4rem 0.5rem 0rem 0.5rem;
    background-color: rgb(0, 180, 0);
    text-align: center;
    border-radius: 50%;
    font-size: 0.7rem;
    color: white;
    animation: flash 1s infinite;
  }

  @keyframes flash {
    0% {
      opacity: 20%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 20%;
    }
  }